<footer>
  <div class="container footer">
    <div class="social_icons">
     <a href="#"><img src="/assets/facebook-btn.png"></a>
     <a href="#"><img src="/assets/twitter-btn.png"></a>
     <a href="#"><img src="/assets/facebook-btn.png"></a>
     <a href="#"><img src="/assets/twitter-btn.png"></a>
     <a href="#"><img src="/assets/facebook-btn.png"></a>
     <a href="#"><img src="/assets/twitter-btn.png"></a>
     <a href="#"><img src="/assets/facebook-btn.png"></a>
     <a href="#"><img src="/assets/twitter-btn.png"></a>
     <a href="#"><img src="/assets/facebook-btn.png"></a>
     <a href="#"><img src="/assets/twitter-btn.png"></a>
    </div>
    <p>Company &copy;2014 Design source media.All right reserved</p>
  </div>
</footer>