<section class="slider">
  <div class="container">
    <h1>Let's Solve it together</h1>
    <h4>How women friendly in your workplace</h4>
    <p class="text-center"><a href="#">Add your company</a></p>
    <form>
        <input type="text" class="searchfield" name="companyname" placeholder="Company name">
        <input type="text" class="searchfield" name="industory" placeholder="Industory">
        <input type="text" class="searchfield" name="location" placeholder='Location'>
        <input type="submit"  value="Search" class="btn_sb">
    </form>
  </div>
</section>

<!--Start Content-->
<section class="center_content">

</section>
<!--End Content-->